<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Editar envío</h1>

            <hr>

            <form action="/envios/{{shipping.id}}/editar" method="POST">

                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Fecha de envio actual: {{shipping.date}}"
                        disabled>
                    <input type="text" class="form-control" name="date" id="date" placeholder="Nueva fecha de envio"
                        onfocus="(this.type='date')">

                </div>

                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Estado actual: {{shipping.status}}" disabled>
                    <select name="status" id="status" class="form-control">
                        <option value="">Estado de la solicitud de envio</option>
                        <option>APROBADO</option>
                        <option>PENDIENTE</option>
                        <option>RECHAZADO</option>
                    </select>

                </div>

                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Almacen actual: {{shipping.warehouse.name}}"
                        disabled>
                    <select name="warehouse" id="warehouse" class="form-control" placeholder="Almacen">
                        <option disabled selected>Elige un Almacen</option>
                        {{#each warehouse}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Equipos seleccionados actualmente" disabled>
                    <textarea class="form-control" disabled>
                    {{#each shipping.equipment}}
                    - {{name}}
                    {{/each}}
                   </textarea>

                    <select multiple name="equipment" id="equipment" class="form-control" placeholder="Equipos">
                        <option disabled selected>Elige los equipos a enviar (CTRL + Click izquierdo)
                        </option>
                        {{#each equipment}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="lng" id="lng"
                        value="{{shipping.location.coordinates.[0]}}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="lat" id="lat"
                        value="{{shipping.location.coordinates.[1]}}">
                </div>

                <button type="submit" class="btn btn-outline-dark btn-block btn-lg">Guardar cambios</button>

                <a href="/shipping" class="btn btn-dark btn-block btn-lg">Cancelar</a>

            </form>

            {{#if errorMessage}}
            <div
                style="margin-top: 20px; padding: 5px; color: white; background: rgb(247, 0, 0); text-align: center; font-size: .95em">
                {{errorMessage}}
            </div>
            {{/if}}

        </div>

    </div>

</div>